<h1>Hello <%= @name %>!</h1>
<br>
<p>You have sucessfully created an account for ScottMeskillDesigns.com.</p>

<p>In order to login, click <a href="https://scottmeskilldesigns.herokuapp.com/sessions/new">here</a>.<br>
  Have a great day!<br>
  - Scott

</p>
<br>
<p>Created by B.A.D. Designs </p>
