
<!--<br>-->
<!--<br>-->
<!--<h1>Welcome to your user page <%= @user.email%> !</h1> -->
<!--<p>You are now logged in.</p><br />-->
<!--<p>E-mail:</p> <%= @user.email %><br />-->


<!--<p>Users#show</p>-->
