<h1 class="title"><img class="logo" src="assets/Logo.psd.png"></h1>
<img class="scottpic" src="assets/scott.jpg">

<p class="text">   What am I about? I'm a perpetual daydreamer, who fantasizes about living a life of purpose and fulfillment. What the hell does that mean?! To discover what I’m passionate about, and then live it! I like getting lost in the creative process, and the possibilities. It seems like every time I start a project, I end up with three more designs that I want create after that! I love working with wood, but don't consider myself a woodworker, just the medium which moves me at the moment. There is endless inspiration in nature. Trees, rocks, and, moving water all captivate my soul. If I could package up the Sierras, I’d put them into every backyard! I have ideas that I've never seen before, and I'm enjoying trying to get them out of my head.</p>

<img style="display:block; margin:auto; "src="assets/signature.jpg">

<p> Find me in views/pages/about.html.erb </p>