<br>
<br>
<br>
<h1> THIS IS THE ADMIN VIEW </h1>
<p>Find me in views/pages/admin.html.erb</p><br><br><br>

<%= link_to 'Homepage', root_path %><br>
<%= link_to 'View Orders', orders_path %><br>
<%= link_to 'View Users', users_path %><br>
<%= link_to 'Add Product', new_product_path %><br>

