<h1 class="contact" ><a href="mailto:scott@scottmeskilldesigns.com">scott@scottmeskilldesigns.com</a></h1>
<h1 class="contact">(310) 529-5536</h1>
<p>Find me in views/pages/contact.html.erb</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
