<h1 class="title"><img class="logo" src="assets/Logo.psd.png"></h1>

<%= render 'partials/carousel' %>

<div class="container">
  <div class="row">
	  <div class="col-md-4"><%= link_to 'Furnishings', furnishings_path, :class => "title" %><img class="homeproducts" src="assets/Furniture/CIMG1421.JPG"></div>
	  <div class="col-md-4"><%= link_to 'Paintings', paintings_path, :class => "title" %><img class="homeproducts" src="assets/Paintings/whitey.jpg"></div>
	  <div class="col-md-4"><%= link_to 'Sculptures', sculptures_path, :class => "title" %><img class="homeproducts" src="assets/Sculpture/ChainedHeart.jpg"></div>
	</div>
</div>

<p>Find me in app/views/pages/home.html.erb</p>
