<<<<<<< HEAD
<h1>Scott Meskill Designs</h1>
<p>"One of a kind creations"</p>
<%= render 'carousel' %>
<p>Find me in app/views/pages/home.html.erb</p>
=======
<h1 class="title"><img class="logo" src="assets/Logo.psd.png"></h1>

<%= render 'carousel' %>

<div class="container">
  <div class="row">
	  <div class="col-md-4"><h1 class="title">Furniture</h1><img class="homeproducts" src="assets/Furniture/CIMG1421.JPG"></div>
	  <div class="col-md-4"><h1 class="title">Paintings</h1><img class="homeproducts" src="assets/Paintings/whitey.jpg"></div>
	  <div class="col-md-4"><h1 class="title">Sculptures</h1><img class="homeproducts" src="assets/Sculpture/ChainedHeart.jpg"></div>
	</div>
</div>

<p>Find me in app/views/pages/home.html.erb</p>

<%= render 'footer' %>
>>>>>>> 6862ca003ad9270d4a187619db9c8830bf398187
