/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import 'bootstrap';
 @import url(https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC);


.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: 400px;
  line-height: 1;
}

.likebutton {
  position: relative;
  text-align: center;
  margin-top: -4%;
  margin-bottom: 3%;
}

img.catimages {
  vertical-align: middle;
  height: 300px;
  display: block;
  margin: auto;
  width: 300px;
  border-radius: 30px;
  margin-bottom: 0px;
}

.btn-primary {
  color: white;
  background-color: #428bca;
  border-color: #357ebd;
  width: 10em;
  margin: auto;
  margin-top: 1%;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.428571429;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-left: 75%;
}
button.btn.btn-modal {
  background: lightblue;
  margin-top: 4%;
}
button.btn.btn-modal:hover {
  background: skyblue;
}
img.stripelogo {
  margin-left: 42%;
  margin-bottom: -15%;
  margin-top: -21%;
}




element.style {
  vertical-align: bottom;
  width: 450px;
  height: 20px;
  margin: -22px;
  display: block;
}

.centeralign {
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: #428bca;
  border-color: #357ebd;
  width: 8em;
  margin: auto;
  margin-top: 1%;
  text-align:center;
}


a.left.carousel-control {
  background: none;
  color:black;
}
a.right.carousel-control {
  background: none;
  color:black
}

.btn-primary {
  color: white;
  background-color: #159CD8;
  border-color: #357ebd;
  width: 8em;
  margin: auto;
  margin-top: 1%;
  text-align: center;
}