// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$mainfont:'IM Fell French Canon SC', serif;

.carousel-inner > .item > img {
    margin: 0 auto;
    max-height:500px;
}

.adminlinks {
  color:black;
  display:block;
  margin-top: 15px;
  margin:auto;
  text-align:center;
  font-size: 30px;
  border: 2px solid black;
  width: 236px;
  border-radius: 21px;
  font-family:$mainfont;
}
.adminlinks:hover {
  background-color: lightskyblue;
  text-decoration: none;
  color:black;
}

.admintitle {
  display:block;
  text-align:center;
  font-family: $mainfont;
  color:black;
  font-size: 40px;
  margin-bottom: 32px;

}

.carousel {
	height: 50%;
}

.contact {
	margin-top: 30px;
	font-family: sans-serif; 
	font-size:20px; 
	text-align:center;
}

.contact a {
	color:black;
}

.scottpic {
	display:block;
	float:left;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right:25px;
	border: 3px solid black;
	border-radius: 20%;
}

.text {
	font-family: "IM Fell French Canon SC", serif;
  font-size: 20px;
  margin-top: 48px;
  width: 90%;
  margin-left:4%;
}

.title {
	display:block;
	text-align:center;
	font-family: $mainfont;
	color:black;
	font-size: 35px;
}


.navtitle {
	display:block;
	text-align:center;
	font-family: $mainfont;
	color:black;
	font-size: 20px;
}

.title:hover{
	text-decoration:underline;
	color:black;
}


.navbar{
	font-family:$mainfont;
}

.homeproducts {
	position:relative;
	height:400px;
	width:100%;
	font-family:$mainfont
}

.logo{
	display:block;
	margin: auto;
	max-width:100%;
}

#footer {
  height: 60px;
  background-color: black;
  clear: both;
}

.socialmediabar {
  width:140px;
  position:relative;
  margin: auto;
}



.facebook {
  float:left;
  height: 65px;
  width: 65px;
  background-image: url("../assets/social_media_buttons/facebook-grey.png");
  background-repeat: no-repeat;
  background-size: 65px;

}
.facebook:hover {
  background-image: url("../assets/social_media_buttons/facebook.png");
}

.instagram {
  float: right;
  margin-left:4px;
  margin-top: -3px;
  height: 70px;
  width: 70px;
  background-image: url("../assets/social_media_buttons/instagram-grey.png");
  background-repeat: no-repeat;
  background-size: 70px;


}
.instagram:hover {
  background-image: url("../assets/social_media_buttons/instagram.png");
}
