// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$mainfont:'IM Fell French Canon SC', serif;

.signup {
	text-align: center;
	font-family: $mainfont;
}

.textfield {
	text-align:center;
}

.bold {
  font-weight:bold;
}

.users {
  margin-left:10px;
}
