
<%= f.file_field :avatar %>


<%#= image_tag @user.avatar.url %>
<%#= image_tag @user.avatar.url(:medium) %>
<%#= image_tag @user.avatar.url(:thumb) %>

<p>Find me in app/views/products/edit.html.erb</p>
